*.tar.gz
*.swp
*.yml
.idea/
# former code backups
shell_former/
src_former/
# large data
dataset/
global/
# tmp file
tmp/*
!tmp/note.md
# shell result log
result/
# saved model
model/
# src
src/test.py
src/*/__pycache__/