*.tar.gz
*.swp
*.yml
.idea/
/**/__pycache__/
/**/*.log
/**/temp_model.py

# RO_TR aln
Rosetta_and_TrRosetta/

# TrRosetta output
src/Network/TrRosetta/output/

# former code backups
shell_former/
src_former/

# large data
dataset/
global/

# tmp file
tmp/*
!tmp/note.md

# shell result log
result/

# saved model
model/

# src
src/test.py
src/Network/*bak*
src/Network/*former*
src/Network/**/*.png
