*.tar.gz
*.swp
*.yml
.idea/
/**/__pycache__/
# former code backups
shell_former/
src_former/
# large data
dataset/
global/
# tmp file
tmp/*
!tmp/note.md
# shell result log
result/
# saved model
model/
# src
src/test.py
src/Network/*bak*
src/Network/*former*

/**/*.log
